*{
    font-family:Verdana;
}

#result,select{
    position:relative;
    top:40px;
}

#hier{
    width:100%;
    margin:0px auto;
    padding:0px auto;
}
#search1{
    position:relative;
    margin-top:30px;
}
#result4{
position:absolute;

    top:350px;
    left:20px;
    padding-bottom:300px;
    width:400px;

}

#all{
    position:relative;
    top:60px;

    padding-bottom:50px;
}
