body {font-family: Verdana;}
h1{
    color:#819FF7;
}
h2{
    color:#819FF7;
}
h3{
    color:#819FF7;
}
h4{
    color:#819FF7;
}
h5{
    color:#819FF7;
}
h6{
    color:#819FF7;
}
*{
    font-family:Verdana;
}
